@charset "UTF-8";

body {
    background-image: radial-gradient( circle farthest-corner at 6.3% 21.8%,  rgb(7, 151, 103) 0%, rgb(65, 6, 143) 90% );
    margin: 0px
}
.container {
    width: 100vw;
    height: 100vh;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.item {
    width: 300px;
    height: 150px;
    background-image: radial-gradient( circle farthest-corner at -5.6% -6.8%,  rgb(48, 13, 75) 37.3%, rgb(28, 4, 66) 73.5% );
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 20px;
    text-align: center;

}

h1{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}
span{
    color: rgb(26, 218, 128);
}
input::placeholder{
    color: black;
    font-family: "Exo 2", sans-serif;
}
